/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 300vh;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 2em;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* これでmainが伸縮可能になります */
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

section p {
    color: #666;
}

/* Button section styles */
.button-section {
    text-align: center;
}

.button-section h2 {
    color: #007bff;
    margin-bottom: 20px;
}

.button-section button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.button-section button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
}
